<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>Fake Search Engine</title>
	<link rel="stylesheet" href="/css/index.css" />
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/question1.js"></script>
    <style>
        #time_part {
            text-align: right;
        }
        #wrap {
            width:900px;
            margin:0 auto;
        }
        #left_col {
            float:left;
            width:450px;
        }
        #right_col {
            float:right;
            width:450px;
        }
    </style>
</head>
<body onload="timeCount()">
    <h4 id = "time_part">Time past (sec): <input type="text" id="mytime" name = "mytime" form="usrform"></h4>
    <li>
    <h3>3. Imagine you are going to San Diego for a day trip with your friends and you decided to rent a car and pick up at SAN airport. There are 5 people altogether and the budget for car rental is below $60 per day. Pleae write your decisions below based on the results listed below. Please answer within 300 words.</h3>
    </li>
    <!--
    <textarea rows="10" cols="80"></textarea>
-->
    <textarea rows="4" cols="50" name="answer" id = "answer" form="usrform"></textarea>
    <form action="/addAnswer_for_question3" id="usrform">
        <input type="submit" value="Next">
    </form>
    <br>
    <br>
    <div id = "wrap">
    <div id = "left_col">
    <ul id="result_list">
        <h2> Car types </h2>
        <ul>
            <h4> Premium </h4>
            {{#each premium}}
            <li class="items">
                <a href="q3_items/{{id}}" class="thumbnail" target="_blank">
                    <p>{{title}}</p>
                </a>
            </li>
            {{/each}}
        </ul>
        <ul>
            <h4> SUV </h4>
            {{#each suv}}
            <li class="items">
                <a href="q3_items/{{id}}" class="thumbnail" target="_blank">
                    <p>{{title}}</p>
                </a>
            </li>
            {{/each}}
        </ul>
        <ul>
            <h4> Economy </h4>
            {{#each economy}}
            <li class="items">
                <a href="q3_items/{{id}}" class="thumbnail" target="_blank">
                    <p>{{title}}</p>
                </a>
            </li>
            {{/each}}
        </ul>
        <ul>
            <h4> Convertible </h4>
            {{#each convertible}}
            <li class="items">
                <a href="q3_items/{{id}}" class="thumbnail" target="_blank">
                    <p>{{title}}</p>
                </a>
            </li>
            {{/each}}
        </ul>
        <ul>
            <h4> Compact </h4>
            {{#each compact}}
            <li class="items">
                <a href="q3_items/{{id}}" class="thumbnail" target="_blank">
                    <p>{{title}}</p>
                </a>
            </li>
            {{/each}}
        </ul>
    </ul>
    </div>
    <div id = "right_col">
    <ul id="result_list">
        <h2> Price Range </h2>
        <ul>
            <h4> less than $40 per day </h4>
            {{#each less_than_40}}
            <li class="items">
                <a href="q3_items/{{id}}" class="thumbnail" target="_blank">
                    <p>{{title}}</p>
                </a>
            </li>
            {{/each}}
        </ul>
        <ul>
            <h4> $40 - $50 per day </h4>
            {{#each _40_to_50}}
            <li class="items">
                <a href="q3_items/{{id}}" class="thumbnail" target="_blank">
                    <p>{{title}}</p>
                </a>
            </li>
            {{/each}}
        </ul>
        <ul>
            <h4> $50 - $60 per day </h4>
            {{#each _50_to_60}}
            <li class="items">
                <a href="q3_items/{{id}}" class="thumbnail" target="_blank">
                    <p>{{title}}</p>
                </a>
            </li>
            {{/each}}
        </ul>
        <ul>
            <h4> more than $60 per day </h4>
            {{#each more_than_60}}
            <li class="items">
                <a href="q3_items/{{id}}" class="thumbnail" target="_blank">
                    <p>{{title}}</p>
                </a>
            </li>
            {{/each}}
        </ul>
    </ul>
    </div>
    </div>
</body>
</html>
