<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>Fake Search Engine</title>
	<link rel="stylesheet" href="/css/index.css" />
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/question2.js"></script>
    <style>
        #time_part {
            text-align: right;
        }
        #wrap {
            width:900px;
            margin:0 auto;
        }
        #left_col {
            float:left;
            width:450px;
        }
        #right_col {
            float:right;
            width:450px;
        }
    </style>
</head>
<body onload="timeCount()">
    <h4 id = "time_part">Time past (sec): <input type="text" id="mytime" name = "mytime" form="usrform"></h4>
    <li>
    <h3>2. Please plan your graduate program in US. i.e. which graduate school do you prefer and why? (limit your choice within CS, Math, Finance majors). Please answer within 300 words.</h3>
    </li>
    <!--
    <textarea rows="10" cols="80"></textarea>
-->
    <textarea rows="4" cols="50" name="answer" id = "answer" form="usrform"></textarea>
    <form action="/addAnswer_for_question2" id="usrform">
        <input type="submit" value="Next">
    </form>
    <br>

    <br>
    <!--
    <li>
        <h3>1. Please plan your day trip to Beijing based on the itmes shown below.</h3>
    </li>
    <textarea rows="10" cols="80"></textarea>
    <br>
    <button id = "next_button" class = "next_button" onclick = "gotoQuestionnaire()">Next</button>
-->
    <div id = "wrap">
    <div id = "left_col">
    <ul id="result_list">
        <h2> Locations </h2>
        <ul>
        <h4> East </h4>
            {{#each east}}
            <li class="items">
                <a href="q2_items/{{id}}" class="thumbnail" target="_blank">
                    <p>{{title}}</p>
                </a>
            </li>
            {{/each}}
        </ul>
        <ul>
        <h4> West </h4>
            {{#each west}}
            <li class="items">
                <a href="q2_items/{{id}}" class="thumbnail" target="_blank">
                    <p>{{title}}</p>
                </a>
            </li>
            {{/each}}
        </ul>
        <ul>
        <h4> Middle </h4>
            {{#each middle}}
            <li class="items">
                <a href="q2_items/{{id}}" class="thumbnail" target="_blank">
                    <p>{{title}}</p>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
    <div id = "right_col">
        <h2> Rankings </h2>
        <ul>
        <h4> Computer Science </h4>
            {{#each cs}}
            <li class="items">
                <a href="q2_items/{{id}}" class="thumbnail" target="_blank">
                    <p>{{title}}</p>
                </a>
            </li>
            {{/each}}
        </ul>
        <ul>
        <h4> Math </h4>
            {{#each math}}
            <li class="items">
                <a href="q2_items/{{id}}" class="thumbnail" target="_blank">
                    <p>{{title}}</p>
                </a>
            </li>
            {{/each}}
        </ul>
        <ul>
        <h4> Finance </h4>
            {{#each finance}}
            <li class="items">
                <a href="q2_items/{{id}}" class="thumbnail" target="_blank">
                    <p>{{title}}</p>
                </a>
            </li>
            {{/each}}
        </ul>
    </ul>
    </div>
    </div>
</body>
</html>
