<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>Fake Search Engine</title>
	<link rel="stylesheet" href="/css/index.css" />
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/question1.js"></script>
    <style>
        #time_part {
            text-align: right;
        }
    </style>
</head>
<body onload="timeCount()">
    <h4 id = "time_part">Time past (sec): <input type="text" id="mytime" name = "mytime" form="usrform"></h4>
    <li>
    <h3>1. Please plan your day trip to Beijing based on the items shown below. Please ignore prices, distance between places etc. when planning your trip and simply based on your interests.</h3>
    </li>
    <!--
    <textarea rows="10" cols="80"></textarea>
-->
    <textarea rows="4" cols="50" name="answer" id = "answer" form="usrform"></textarea>
    <form action="/addAnswer_for_question1" id="usrform">
        <input type="submit" value="Next">
    </form>
    <br>
    
    <br>
    <!--
    <li>
        <h3>1. Please plan your day trip to Beijing based on the itmes shown below.</h3>
    </li>
    <textarea rows="10" cols="80"></textarea>
    <br>
    <button id = "next_button" class = "next_button" onclick = "gotoQuestionnaire()">Next</button>
-->
    <ul id="result_list">
        <h2> Food </h2>
        {{#each food}}
            <li class="items">
                <a href="q1_items/{{id}}" class="thumbnail" target="_blank">
                    <p>{{title}}</p>
                </a>
            </li>
        {{/each}}
        <h2> Places </h2>
        {{#each places}}
            <li class="items">
                <a href="q1_items/{{id}}" class="thumbnail" target="_blank">
                    <p>{{title}}</p>
                </a>
            </li>
        {{/each}}
        <h2> Accommodation </h2>
        {{#each accommodation}}
            <li class="items">
                <a href="q1_items/{{id}}" class="thumbnail" target="_blank">
                    <p>{{title}}</p>
                </a>
            </li>
        {{/each}}

    </ul>
</body>
</html>
